.idea

target/
dbt_modules/
dbt_packages/
logs/

.vscode/
Pipfile
Pipfile.lock
env.sh

.python_version
.python-version
.vscode
.venv
.env
.secrets
*.lock
**/*/package-lock.yml
pyproject.toml

.DS_Store
